/** CSS STYLE **/
section {
  position: relative;
  width: 1110px;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

section::before {
  content: url(../images/background.png);
  opacity: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_picture {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 450px;
  right: -270px;
}

.btn {
  position: absolute;
  left:665px;
  top: 815px;
  padding: 12px 24px 12px 24px;
  font-weight: bold;
  background: #FE8A02;
  color: #fff;
  text-decoration: none;
}

body { 
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

.block-text-left  {
  position: absolute;
  height: 130px;
  width: 540px;
  top: 605px;
  left: 105px;
  margin-right: 15px;
}

.block-text-right  {
  position: absolute;
  left: 650px;
  width: 540px;
  top: 600px;
  margin-left: 15px;
  margin-right: 15px;
}

.block-text-right2  {
  position: absolute;
  left: 650px;
  top: 700px;
  width: 540px;
  margin-left: 15px;
  margin-right: 15px;
}


h1 {
    
  position: absolute;
  top:55px;
  left: 100px;
  line-height: 1.2em;
  font-size: 72px;
  font-family: Neucha;}

h2 {
  line-height: 1.2em;
  font-size: 60px;
  font-family: Neucha;}    
}
h3 {
  line-height: 1.2em;
  font-size: 34px;
  font-family: Neucha;}
}

