/** CSS STYLE **/

body {
  margin-top: -100px;
  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', 'Segoe', 'Helvetica Neue', sans-serif;
  font-style: normal;
  line-height: 1.6em;
  letter-spacing: 0;
  text-align: left;
}

.frame-with-background {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 705px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  
  
  
}

.frame-with-background::before {
  content: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  
}

section {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  /* margin: 0 0 100px 0; */
}

header {
  height: 555px;
}
.highlighting {
  color: #fe8a02;
}
.main-picture {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  z-index: -1;
}
.frame-with-background div {
  width: 540px;
}

.frame-with-background div:last-child {
  margin-left: 30px;
}

 .btn {
  padding: 12px 24px 12px 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: #fe8a02;
}

.btn:hover {
  color: #fff;
  background: #ea7600;
}

.frame-no-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.frame-no-background h2 {
  margin-bottom: 30px;
}
iframe {
  margin-bottom: -100px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.frame-dark {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 678px;
  padding: 200px 0 100px 0;
  background: #42413c;
  margin: 0 auto;
}

.frame-dark section {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 678px;
}

/* .title {
  width: 350px;
} */

.card {
  width: 302px;
  padding: 24px;
  background: #f5f4f0;
  color: #2a2626;
}

.numbers {
  margin-bottom: 40px;
  color: #42413c;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
}

.card h3 {
  color: #fe8a02;
}

.card a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #2a2626;
}

.card:hover, .card:hover .numbers, .card:hover h3, .card:hover a {
  color: #fff;
  background: #fe8a02;
}

/* .card:hover .numbers {
  color: #fff;
  background: #fe8a02;
}

.card:hover h3 {
  color: #fff;
  background: #fe8a02;
}

.card:hover a {
  color: #fff;
  background: #fe8a02;
} */

/* привести внешний вид к шаблону, чтобы вошли все карточки */
.card p {
  margin-top: 8px; 
  margin-bottom:  0;
}


h3 {
  margin: 0;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  font-weight: normal;
  line-height: 1.2em;
}
.picture {
  width: 540px;
  /* height: 405px; */
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}


h1 {
  margin-top: 155px;
  font-size: 72px;
  font-family: 'Neucha', cursive;
  font-weight: normal;
  line-height: 1.2em;
}

h2 {
  margin-top: 0;
  font-size: 60px;
  font-family: 'Neucha', cursive;
  font-weight: normal;
  line-height: 1.2em;
}
.frame-with-background h2 {
  color: #2a2626;
}

.frame-with-background h3 {
  color: #2a2626;
}

.topic {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 52px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: 0;
  text-align: left;
}

.title-right {
  color: #908d8b;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}
.frame-with-background .picture {
  margin-right: 30px;
}
.frame-with-background-dark {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 705px;
  color: #fff;
  background: #b09a81;
  margin:  0 auto;
  padding: 100px 0 100px 0;
}

.frame-with-background-dark::before {
  content: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%; 
}

.frame-with-background-dark .picture {
  margin-left: 30px;
}

.frame-with-background-dark div {
  width: 540px;
}
.frame-with-background-dark div:last-child {
  margin-left: 30px;
}



.title-left {
  
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}


.manifestation {
  width: 100%;
  margin-top: 84px; /* так как у тени margin 16px */
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  background: #b09a81;
}

.manifestation-white {
  width: 100%;
  margin-top: 84px;
  margin-bottom: 20px;
  color: #42413c;
  font-weight: bold;
  background: #fff;
}

.session-dark-footer {
  display: flex;
  align-items: center;
  width: 1110px;
  height: 200px;
  margin-bottom: 60px;
  color: #fff;
  background: #42413c;
}

.h-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 540px;
  font-weight: 400;
  font-size: 36px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 43px;
  letter-spacing: 0;
  text-align: left;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: flex;
  width: 400px;
  height: 18px;
  margin: 15px 0 15px 0;
  padding: 15px;
  color: #000;
  font-size: 18px;
  border: 1px solid #e3e3e3;
  border-radius: 0;
}

.btn-send-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  padding: 0;
  background: #fe8a02;
  border: 0;
}

.btn-send-msg::before {
  content: url(../images/send.svg);
}

.btn-send-msg:hover {
  background: #ea7600;
}

.block-footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h-footer-1 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Open Sans', 'Segoe', 'Helvetica Neue', sans-serif;
  font-style: normal;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
}

.rule-service {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans', 'Segoe', 'Helvetica Neue', sans-serif;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
}

.contact {
  margin-top: -100px;
}
