/** CSS STYLE **/

body {
  margin-top: -100px;
  overflow-x: hidden;
  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', 'Segoe', 'Helvetica Neue', sans-serif;
  font-style: normal;
  line-height: 1.6em;
  letter-spacing: 0;
  text-align: left;
}

.frame-with-background {
  position: relative;
  padding: 100px 0 100px 0;
}

.frame-with-background::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  content: '';
}

section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1110px;
  margin: 0 auto;
}

header {
  height: 555px;
}

.highlighting {
  color: #fe8a02;
}

.main-picture {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;
  height: 525px;
}

.frame-with-background div {
  width: 540px;
}

.frame-with-background div:last-child {
  margin-left: 30px;
}

.btn {
  padding: 12px 24px 12px 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: #fe8a02;
}

.btn:hover {
  color: #fff;
  background: #ea7600;
}

.frame-no-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 60px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.frame-no-background h2 {
  margin-bottom: 30px;
}

iframe {
  margin-bottom: -100px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.frame-dark {
  margin: 0 auto;
  padding: 200px 0 100px 0;
  background: #42413c;
}

.frame-dark section {
  justify-content: space-between;
  align-content: space-between;
  margin-top: -20px;
}

.topic {
  width: 350px;
  margin: 20px 0 0 0;
  color: #fff;
  font-weight: 400;
  font-size: 52px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: 0;
  text-align: left;
}

.card {
  width: 302px;
  margin-top: 20px;
  padding: 24px;
  color: #2a2626;
  background: #f5f4f0;
}

.numbers {
  margin-bottom: 40px;
  color: #42413c;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.2em;
}

.card h3 {
  color: #fe8a02;
}

.card a {
  display: block;
  width: 100%;
  height: 100%;
  color: #2a2626;
  text-decoration: none;
}

.description {
  margin: 0;
  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.2em;
}

.frame-with-background .description {
  color: #2a2626;
}

.rule-service a {
  color: #fff;
}

.card:hover,
.card:hover .numbers,
.card:hover h3,
.card:hover a {
  color: #fff;
  background: #fe8a02;
}

.picture {
  width: 540px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

h1 {
  margin-top: 100px;
  font-weight: normal;
  font-size: 72px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.frame-with-background h2 {
  color: #2a2626;
}

.title,
.right,
.left {
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.right {
  color: #908d8b;
}

.left {
  color: #fff;
}

.frame-with-background .picture {
  margin-right: 30px;
}

.frame-with-background-dark {
  padding: 100px 0 100px 0;
  color: #fff;
  background: #b09a81;
}

.frame-with-background-dark::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
  content: '';
}

.frame-with-background-dark .picture {
  margin-left: 30px;
}

.frame-with-background-dark div {
  width: 540px;
}

.frame-with-background-dark div:last-child {
  margin-left: 30px;
}

.manifestation {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  background: #b09a81;
}

.manifestation-white {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  color: #42413c;
  font-weight: bold;
  background: #fff;
}

.session-dark-footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 1110px;
  margin-bottom: 60px;
  padding: 50px;
  color: #fff;
  background: #42413c;
}

.session-dark-footer div {
  width: 540px;
}

.session-dark-footer div:last-child {
  margin-left: 30px;
}

.h-footer {
  font-weight: 400;
  font-size: 36px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 43px;
  letter-spacing: 0;
  text-align: left;
}

.block-footer-right {
  text-align: start;
}

.h-footer-1 {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Open Sans', 'Segoe', 'Helvetica Neue', sans-serif;
  font-style: normal;
  line-height: 29px;
  letter-spacing: 0;
}

form {
  display: flex;
}

input {
  flex-grow: 2;
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  color: #000;
  font-size: 18px;
  border: 1px solid #e3e3e3;
  border-radius: 0;
}

.btn-send-msg {
  width: 70px;
  height: 50px;
  padding: 0;
  background: #fe8a02;
  border: 0;
}

.btn-send-msg::before {
  text-align: center;
  content: url(../images/send.svg);
}

.btn-send-msg:hover {
  background: #ea7600;
}

.rule-service {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans', 'Segoe', 'Helvetica Neue', sans-serif;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0;
}

.contact {
  margin-top: -100px; /* убрать margin наследуемый от frame-no-background */
}
